NODE_ENV=production
PORT=4000
CORS_ORIGIN=http://localhost:5173

# SQL Server institucional
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=UCAPREC
SQLSERVER_USER=ucaprec_app
SQLSERVER_PASSWORD=CAMBIAR_PASSWORD_FUERTE
SQLSERVER_ENCRYPT=false
SQLSERVER_TRUST_CERT=true

JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO_DE_64_CARACTERES
JWT_EXPIRES_IN=8h

UPLOAD_DIR=./storage/documentos
MAX_FILE_MB=25
